<!DOCTYPE html>
<html>
<head>
<style> 
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: left
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: green;color:black;}
footer {background: #aaa;color:white;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="flex-container">
<header>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <h1 align="center">IIT Aggregate App</h1>
</header>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/welcome/homepage">Home</a>
  <a href="/welcome/loginpage">Sign-in</a>
  <a href="/welcome/settingpage">Settings</a>
  <a href="/welcome/aboutpage">About</a>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0px";
}
</script>


<article class="article">
  <h4><b>Project Teams<b></h4>
    <h5>Front-end Team </h5>
    <p>Johnny <br> Kiran</p>

   <h5>Back-end Team </h5>
    <p>Soren <br> Julian</p>
</article>

<article class="article">
  <h4><b>Objective<b></h4>
  <p>Discover ways in which students could benefit from assistance in all aspects of earning their degree Utilize available data and technologies to design a system that will address the opportunities
  </p>
  <p>“Notifies students of organization activities in live time to create a more informed student body and to promote student involvement.”
  </p>
  <p>Computer Science 487</p>
</article>
<footer align="left">Prototype demonstartion of Page</footer>
</div>

</body>
</html>